# Symfony-specific files and directories
/.env
/.env.dev
/.env.local
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

/.phpunit.result.cache
/.idea
/.vscode
/vendor/
/var/
/public/bundles

# Symfony cache and log files
/var/cache/
/var/log/

# Symfony debug and profiler directories
/.symfony*/

# Composer dependencies
/composer.lock

# IDE specific files
.idea/
/.vscode/

# Operating system files
.DS_Store
Thumbs.db

